<div class="container">

  <div class="container-first">
    <div class="personal-info"> 
      <app-personal-info />
    </div>
  </div>

  <div class="container-second">
    <div class="education">
      <app-education />
    </div>

    <div class="work-expirience">
      <app-work-experience  />
    </div>
    
    <div class class="training">
      <app-training />
    </div>
    
 
</div>

<div class="container-third">

  <div class="references">
    <app-references />
  </div>
</div>
</div>
<router-outlet />
