<!--
Name: Mark Erolle D. Quiambao
Section: WD - 302
-->

<!-- This component holds Raiden Shogun Gallery/accenstion materials -->
<div class="h-[125vh] bg-[#dadada] ">
    <!--This Holds the Ascention header-->
    <p class="text-center p-3 text-[30px] text-[#be4fc8]">Ascension Cost (0✦ → 6✦)</p>
    <!-- This div acts as the container of the ascention materials-->
    <div class="grid grid-cols-5 gap-5 p-5 place-items-center">
        <!-- Mora Container -->
        <div class="bg-[#2092b5] w-[240px] h-[290px] rounded-xl">
            <img src="../assets/Ascensions/Item_Mora.png" alt="mora" />
            <div class="bg-white w-full h-[50px] text-black text-center text-3xl font-bold rounded-b-xl pt-2">
                420,000
            </div>
        </div>
        <!-- Storm Beads Container -->
        <div class="bg-[#b13dbc] w-[240px] h-[290px] rounded-xl">
            <img src="../assets/Ascensions/Item_Storm_Beads.png" alt="Storm Beads" />
            <div class="bg-white w-full h-[50px] text-black text-center text-3xl font-bold rounded-b-xl pt-2">
                46
            </div>
        </div>
        <!-- Vajrada Silver Container -->
        <div class="bg-[#11b93b] w-[240px] h-[290px] rounded-xl">
            <img src="../assets/Ascensions/Item_Vajrada_Amethyst_Sliver.png" alt="Vajrada Silver " />
            <div class="bg-white w-full h-[50px] text-black text-center text-3xl font-bold rounded-b-xl pt-2">
                1
            </div>
        </div>
        <!-- Vajrada Silver Container -->
        <div class="bg-[#4e61f1] w-[240px] h-[290px] rounded-xl">
            <img src="../assets/Ascensions/Item_Vajrada_Amethyst_Fragment.png" alt="Vajrada Silver forma" />
            <div class="bg-white w-full h-[50px] text-black text-center text-3xl font-bold rounded-b-xl pt-2">
                9
            </div>
        </div>
        <!-- Vajrada Silver Chunk Container -->
        <div class="bg-[#b416cc] w-[240px] h-[290px] rounded-xl">
            <img src="../assets/Ascensions/Item_Vajrada_Amethyst_Chunk.png" alt="Vajrada Silver Chunk" />
            <div class="bg-white w-full h-[50px] text-black text-center text-3xl font-bold rounded-b-xl pt-2">
                9
            </div>
        </div>
        <!-- Vajrada Silver Gemstone Container -->
        <div class="bg-[#d1a822] w-[240px] h-[290px] rounded-xl">
            <img src="../assets/Ascensions/Item_Vajrada_Amethyst_Gemstone.png" alt="Vajrada Silver Gemstone" />
            <div class="bg-white w-full h-[50px] text-black text-center text-3xl font-bold rounded-b-xl pt-2">
                6
            </div>
        </div>
        <!-- Amakumo Fruit Container -->
        <div class="bg-[#707070a1] w-[240px] h-[290px] rounded-xl">
            <img src="../assets/Ascensions/Item_Amakumo_Fruit.png" alt="Amakumo Fruit" />
            <div class="bg-white w-full h-[50px] text-black text-center text-3xl font-bold rounded-b-xl pt-2">
                168
            </div>
        </div>
        <!-- Old Handguard Container -->
        <div class="bg-[#707070a1] w-[240px] h-[290px] rounded-xl">
            <img src="../assets/Ascensions/Item_Old_Handguard.png" alt="Old Handguard" />
            <div class="bg-white w-full h-[50px] text-black text-center text-3xl font-bold rounded-b-xl pt-2">
                18
            </div>
        </div>
        <!-- Kageuchi Handguard Container -->
        <div class="bg-[#11b93b] w-[240px] h-[290px] rounded-xl">
            <img src="../assets/Ascensions/Item_Kageuchi_Handguard.png" alt="Kageuchi Handguard" />
            <div class="bg-white w-full h-[50px] text-black text-center text-3xl font-bold rounded-b-xl pt-2">
                30
            </div>
        </div>
        <!-- Famed Handguard Container -->
        <div class="bg-[#2092b5] w-[240px] h-[290px] rounded-xl">
            <img src="../assets/Ascensions/Item_Famed_Handguard.png" alt="Famed Handguard" />
            <div class="bg-white w-full h-[50px] text-black text-center text-3xl font-bold rounded-b-xl pt-2">
                36
            </div>
        </div>
    </div>
    <!-- This container holds the table for Raiden Shogun stats -->
    <p class="text-center p-3 text-[30px] text-[#be4fc8]">Raiden Shogun Full Stats (6✦)</p>
    <table class="w-[90%] table-auto mx-auto">
        <!--This holds the table header and the row for Raiden shogun full stats in a max level -->
        <thead>
            <tr class="border-b border-neutral-700 bg-neutral-800 text-neutral-50 dark:border-neutral-600 dark:bg-neutral-700 text-center text-lg font-bold">
                <th class="border border-gray-300">Ascension <br> Phase</th>
                <th class="border border-gray-300">Level</th>
                <th class="border border-gray-300">Base <br> HP</th>
                <th class="border border-gray-300">Base <br> ATK [✦ 6]</th>
                <th class="border border-gray-300">Base <br> DEF</th>
                <th class="border border-gray-300">Special Stat [✦ 6] <br> <span class="tag text-[#b06912]">(Energy Recharge)</span></th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center p-2 font-bold">
                <td>6✦</td>
                <td>90/90</td>
                <td>12,907.19</td>
                <td>337.24</td>
                <td>789.31</td>
                <td>32.0%</td>
            </tr>
        </tbody>
    </table>
</div>
