*{
    margin: 0;
    padding: 0;
}

header{
    padding: 0 0 2% 0;
}

h1{
    text-align: center;
    padding: 3% 0;
}

.navbar {
    text-align: center;
}

.navbar ul, li, a{
    text-decoration: none;
    display: flex;
    gap: 10px;
    margin: 2% 0;
    width: 50%;
    
}

.navbar a {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: black;
    border-radius: 15px;
    border-style: solid;
    padding: 3% 6%;
    width: 70%;
    transition: 0.2s;
}

.navbar a:hover{
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
    border-style: solid;
}


.navbar ul, li{

    margin: 0 auto;
}


