<!--
Name: Mark Erolle D. Quiambao
Section: WD - 302
-->

<!-- This component holds the whole header design for my tailwind website -->
<!-- Header components -->
<!-- Nav Container -->
<div class="flex justify-between p-2 bg-[#aa7eee]">
    <!-- Navigation Container / The Raiden Name -->
    <nav class="uppercase p-3">
        <div class="navlink flex text-center">
            <ul class="flex">
                <li> 
                    <!-- Logo Image Container -->
                    <img src="../assets/profile.png" alt="Raien shogun Logo" class="w-11 h-11">
                </li>
                <li class="mx-9 my-2">
                    <a href="#home">Home</a>
                </li>
                <li class="mx-9 my-2">
                    <a href="#About">About</a>
                </li>
                <li class="mx-9 my-2">
                    <a href="#Ascensions" >Materials</a>
                </li>
                <li class="mx-9 my-2">
                    <a href="#Talent">Talents</a>
                </li>
            </ul>
        </div>
    </nav>
    <p class="text-black text-[20px] uppercase p-1  my-3 flex">Raiden Shogun | Tailwind Website</p>
</div>  

<!-- Landing Page of the Website | Contains the image of raiden shogun with its introductions-->
<!-- This hold the whole landing page -->
<div class="h-[90vh] flex bg-[#dadada]">
    <!-- This div holds the Introduction about Raiden Shogun-->
    <div class="py-20 px-7 w-[50%]">
        <!-- This h1 holds the Raiden Shogun name with design -->
        <h1 class="text-[57px] text-[#be4fc8] tracking-[-1px] ">The Raiden Shogun</h1>

        <!-- This holds the pharahgrap of the Raiden Shogun -->
        <p class="w-[85%] py-3 px-2 text-[15px] text-[#000000] tracking-[2px] ">Raiden Shogun is the current <a class="font-bold text-[#be4fc8]">Electro Archon</a> of Inazuma; and still the ruler of Inazuma.</p>

        <!-- This is button for the Read More -->
        <div class="w-[80%] py-2 flex flex-col items-center ">
            <button class="rounded-xl p-[13px_30px] bg-[#aa7eee] text-[15px] tracking-[3px]">Read More</button>
        </div>
    </div>
    <!-- This Container holds the introduction image of raiden shogun-->
    <img src="./assets/morefullview.png" alt="Raiden Shogun Introduction Image" class=" absolute left-[300px] w-[80%] h-[90vh]">
</div>