<div class="form-container">
  <h1>Welcome to Finals Lab Activity 1: Template-Driven Form Demo</h1>
    <form action="" (ngSubmit)="onSubmit()">

      <label for="fname">First Name</label>
      <input class="input-box" type="text" name="fname" [(ngModel)]="fname" placeholder="Input your First name" required>

      <label for="lname">Last Name</label>
      <input class="input-box" type="text" name="lname" [(ngModel)]="lname" placeholder="Input your last name" required>

      <label for="email">Email</label>
      <input class="input-box" type="email" name="email" [(ngModel)]="email" placeholder="name@email.com" required>
      
      <label for="message">Message</label>
      <textarea class="input-box" type="text" name="message" [(ngModel)]="message" placeholder="Write anything....." required></textarea>

      <input class="btn" type="Submit" value="Submit" [disabled]="!fname">
    </form>
  </div>
<hr>
  <div class="useroutput-container">
    <h2> The User Output for Template-Driven Form Demo</h2>
    <table>
        <tr>
            <th>First Name</th>
            <td><p *ngIf="submitted">{{ fname }}</p></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><p *ngIf="submitted"> {{ lname }}</p></td>
        <tr>
            <th>Email</th>
            <td><p *ngIf="submitted"> {{ email }}</p></td>
        </tr>
        <tr>
            <th>Message</th>
            <td><p *ngIf="submitted"> {{ message }}</p></td>
        </tr>
    </table>
</div>
  
  
  
  