<h2>Training</h2>
<div class="training-contaienr">
 
    <h2>Badge & Certifcate</h2>
    <div class="container-badge-cert">
        <div class="badge-img">
            <img src="https://images.credly.com/size/220x220/images/5d5ac32b-d239-42b8-9665-8a921dc3ab47/image.png" alt="badge">
        </div>
        <div class="certificate">
            <p>Google UX Design Certificate</p>
            <p>Responsive Webdesign</p>
            <p>Front End Development Libraries</p>
            <p>CCNA: Introduction to Networks</p>
            <p>Cyber Threat Management</p>
            <p>Cybersecurity Essentials</p>
        </div>
    </div>
    <hr>
</div>