
<header class="header-container">
    <div class="back-btn">
        <a routerLink='/'>&#8592;Back</a>
    </div>
    <nav class="navbar-header">
        <ul>
        <li><a routerLink='/template-driven'>Template Driven</a></li>
        <li><a routerLink='/reactive-form'>Reactive Form</a></li>
        <li><a routerLink='/validation-demo' >Valodation Demo</a></li>
        </ul>
    </nav>
</header>
<h1>My Angular Reactive Forms and Validation</h1>
<hr>
<div class="act-container">
    <div class="act1">
        <h2>Finals Lab Activity 1: Template-Driven Form Demo</h2>
        <button class="nav-btn" routerLink='/template-driven'>Template Driven</button>
    </div>
    <div class="act2">
        <h2>Finals Lab Activity 2: Reactive Form Demo</h2>
        <button class="nav-btn" routerLink='/reactive-form'>Reactive Form</button>
    </div>
    <div class="act3">
        <h2>Finals Lab Activity 3: Reactive Form with Validation Demo</h2>
        <button class="nav-btn" routerLink='/validation-demo'>Validation Demo</button>
    </div>
</div>
  
  
