<div class="personal-info-container">    
    <img src="https://scontent.fcrk1-3.fna.fbcdn.net/v/t1.15752-9/467473442_944008740877304_4850766239390542124_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=9f807c&_nc_eui2=AeHXvY1rvsoxSXnKET30bUiaEC7aKSOHTRwQLtopI4dNHEHiGcwZpRmDHubsqg8T8uwjGlKaOX43xmHRxPHp72wk&_nc_ohc=Da0xlX4ntxIQ7kNvgHa9NSj&_nc_zt=23&_nc_ht=scontent.fcrk1-3.fna&oh=03_Q7cD1QHUXXKHvVgmMWhk9BnRqLpfG_93-ublHvBYo8rNP-6w6A&oe=67710B5F" alt="profile picture">
    <div class="name">
        <h2>{{ personinfo.name }}</h2>
        
    </div>
    <div class="specialize">
        <h3>{{ personinfo.Specialize}}</h3>
    </div>
    <div class="contact-info">
        <h2>Contact Informations:</h2>
        <p>{{ personinfo.contact_info[0] }}</p>
        <p>{{ personinfo.contact_info[1] }}</p>
        <p>{{ personinfo.contact_info[2] }}</p>
    </div>
</div>
