<!--
Name: Mark Erolle D. Quiambao
Section: WD - 302
-->

<!-- This component holds Raiden Shogun website footer | The creator og the website  -->
<!-- This div holds the container for the footer-->
<div class="flex mt-1 pl-16 p-3 gap-16 items-center justify-center bg-[#aa7eee]">
    <img src="../assets/profile.png" alt="Raiden Shogun Footer image" class="w-[9%] h-[15vh]">
    <!-- This div holds the Name, Section And activity name information -->
    <div>
        <div class="w-[79%]">
            <p>Name: Mark Erolle D. Quiambao</p>
            <p>Section | Class Code: WD - 302 | 2199-6AWEB</p>
            <p>Activity Name: Prelim Lab Activity 3: Bootstrap vs TailwindCSS
            </p>
        </div>
    </div>
    <div class="absolute left-1/2 -ml-32 w-0.5 h-[15vh] bg-gray-600"></div>
    
</div>
<p class="footer text-center">&copy; 2024 Raiden Shogun | By: Mark Erolle D. Quiambao</p>


